$primary: #241858
$primary-dark: #11073B
$primary-light: #5F5293

$secondary: #781424
$secondary-dark: #50000D
$secondary-light: #C96474

$alternate: #106022
$alternate-dark: #00400E
$alternate-light: #50A162

=flex($d, $j, $a)
	display: flex
	flex-direction: $d
	justify-content: $j
	align-items: $a

*
	border: none
	margin: 0
	padding: 0
	box-sizing: border-box

html,
body
	width: 100%
	height: 100%
	+flex(row, center, center)
	color: $primary